<!DOCTYPE html>
<html lang="en-gb">

  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css"/>
    <link href="/assets/js/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
    <link href="/blog/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
    {% include jax.html %}
    <meta name="description" content="{{ site.description }}">


	</head>

	<body>
    {% include header.html %}
    <div class="blogbox">
      <div class="blogbox-left">
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <p>{{ page.date | date_to_long_string }}<br>
           {{ page.categories | join: ", " }}</p>
      </div>
      <div class="blogbox-right">
        {{ content }}
      </div>
    </div>
    {% include postNavigation.html %}
    {% include footer.html %}
    <script src="/assets/js/lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>
  </body>

</html>
