@import url('http://fonts.googleapis.com/css?family=Rosario:400,700,400italic');

  body {
        font-family: 'Rosario', sans-serif;
        font-size: 20px;
        color:#dce2e4;
        background-color:#4b6e76;
        width: 850px; margin: 0 auto;
        }

        /* testing */
/*        * {
          border-style: dashed;
          border-color: #0000FF;
          border-width: 1px;
        } */

  /* CONTAINERS */

        .header-container {
          text-align: center;
          line-height: 20px;
          padding-top: 20px;
          margin-bottom: 30px;
        }

        .title-box {
          height:80px;
        }

        .div-left {
          padding-left: 10px;
          display: inline;
          float:left;
          text-align: left;
        }

        .div-right {
          padding-right: 10px;
          display: inline;
          float:right;
          text-align: right;
        }

        .footer-container {
          clear: both;
          height:40px;
          max-width:980px;
        }

        .title-container {
          height:100px;
          max-width:980px;
          padding-bottom:150px;
        }

        .footer {
          font-size: small;
        }


        .blogbox {
          display: block;
        }

        .blogbox-left {
          clear: right;
          padding-left: 20px;
          display: inline;
          max-width: 150px;
          float: left;
          margin-bottom: 50px;

        }

        .blogbox-left p {
          font-style: italic;
          font-size: 75%;
        }

        .blogbox-right {
          padding-right: 20px;
          display: inline;
          float: right;
          max-width: 600px;
          margin-bottom: 50px;
        }

        .navbox {
          clear: both;
          display: block;
          margin-bottom: 20px;
        }

        .navbox-left {
          padding-left: 20px;
          display: inline;
          max-width: 2550px;
          float: left;
        }

        .navbox-right {
          padding-right: 20px;
          display: inline;
          float: right;
          max-width: 250px;
        }

        .static-box {
          padding-left: 10px;
          padding-right: 10px;
        }


        .clearing {
          display: block;
          clear: both;
        }

        /* TEXT STYLING */

        .front_title {
        /* font-family: 'Chela One', sans-serif;
        find good font for name header */
        text-align: center;
        }

        .page_title {
        font-weight: bold;
        }

        a:link {
          color: #dce2e4;
          font-weight: bold;
          text-decoration:none;
        }

        a:visited {
          color: #dce2e4;
          font-weight: bold;
          text-decoration:none;

        }

        a:hover {
          color: #ffffff;
          font-weight: bold;
        }

        a.specialeffects {
          color: transparent;
          font-weight: bold;
          text-decoration:none;
        }

        a.specialeffects:hover {
          color: #dce2e4;
          font-weight: bold;
          text-decoration:none;
        }

        h2 span {
          vertical-align: bottom;
          float: right;
          text-align: right;
          font-size: 20px;
        }


        /* ADJUST ELEMENTS */

        hr {
            border: none;
            height: 3px;
            color: #dce2e4;
            background-color: #dce2e4;
        }

        img {
            max-width: 70%;
            height: auto;
            display:block;
            margin:auto;
        }
