body {
  margin:35px;
  padding:0;
	height:100%;
  line-height:120%;
  font-family: 'Noticia Text', serif;
  font-size:16px;
  color:#000000;
  background-color:#FEF9E6;

}

#wrappper {
  min-height:100%;
	position:relative;
}

#header {
  padding:10px;
}

#content {
  padding-bottom:50px; /* Height of the footer element */
}

#footer {
	width:100%;
	height:20px;
	position:relative;
	bottom:0;
	left:0;
  font-size:12px;
}

h1,h2 {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight:300; color:#df3746;
}

p {
  max-width: 70%;
}


div.c1 {
  display:inline;
  float:right;
  margin-top:5px;
  margin-right:10px;
  margin-bottom:5px;
  margin-left:10px
}

a:link {
  text-decoration:none;
  font-weight:bold;
  color:#df3746;
}

a:visited {
  text-decoration:none;
  color:#82373b;
}

a:hover {
  text-decoration:underline;
  color:#982a4f;
}

a:active {
  text-decoration:underline;
  color:#c13f6f;
}
