<div class ="navbox">
  <div class ="navbox-left">
    <div>
      <p>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/blog/">More recent posts</a>
          {% else %}
            <a href="/blog/page{{ paginator.previous_page }}">More recent posts</a>
          {% endif %}
          <br>
        {% endif %}
        pages:
        {% if paginator.page == 1 %}
          <span class="active">1</span>
        {% else %}
          <a href="/blog/">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
            <span class="active">{{ count }}</span>
          {% else %}
            <a href="/blog/page{{ count }}">{{ count }}</a>
          {% endif %}
        {% endfor %}
        <br>
        {% if paginator.next_page %}
          <a href="/blog/page{{ paginator.next_page }}">Earlier posts</a>
        {% else %}
          <span class="disabled"></span>
        {% endif %}
      </p>
    </div>
    <div>
      <p>
        <a href="/blog/feed.xml">RSS feed</a>
      </p>
    </div>
  </div>
</div>
